@layer --components {
  .loading-message {
    display: grid;
    grid-template-rows: 4rem;
    place-content: center;
    gap: 1rem;
    min-block-size: calc(100vh - 3rem);
    justify-items: center;
  }

  /* HTML: <div class="loader"></div> */
  .loader {
    --c: no-repeat linear-gradient(var(--color-primary-400) 0 0);

    width: 3rem;
    height: 3rem;
    background: var(--c), var(--c), var(--c), var(--c);
    background-size: 21px 21px;
    animation: --loader 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
  }

  @keyframes --loader {
    0% {
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    }
    33% {
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
      width: 4rem;
      height: 4rem;
    }
    66% {
      background-position: 100% 0, 100% 100%, 0 100%, 0 0;
      width: 4rem;
      height: 4rem;
    }
    100% {
      background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    }
  }
}
